:root {

  --secundary: #19274e;
}

.header-container {
  align-items: center;
  background-color: var(--secundary);
  display: flex;
  height: 12vh;
  justify-content: space-around;
}

.header-logo {
  width: 80px;
}

.header-content-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 500px;
}


.header-profile-container {
  align-items: center;
  display: flex;
}

.header-profile-img {
  border-radius: 18px;
  height: 37px;
  margin-right: 9px;
  width: 37px;
}

.header-profile-container p {
  color: white;
  font-weight: 400;
  line-height: 150%;
}

.header-score-container {
  align-items: center;
  display: flex;
}

.header-score-container p {
  color: white;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-right: 4px;
}

.header-score {
  color: white;
}

.header-icon-star {
  color: #f9ba18;
  font-size: 28.5px;
  margin-right: 10px;
}
